<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
<head>

  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ .Site.GoogleAnalytics }}');
  </script>

  {{ .Hugo.Generator }}

  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="description" content="Follow simple conventions in commit messages and automate version bumps, release notes and changelog. Designed to run on Gitlab CI. Supports any language and workflow.">
  <meta name="keywords" content="git,gitlab,semantic versioning,semantic release,release,release note,changelog,tag,create tag,gitlab ci,version bump">

  <title>{{ .Site.Title }}</title>

  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Lato" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">

</head>
<body>
