html, body {
  font-family: 'Lato', sans-serif;
  color: #363636;
  height: 100%;
}

@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 64em) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 48em) {
  .content {
    margin-left: 20rem;
    margin-right: 1rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 20rem;
    margin-right: 1rem;
  }
}

/* Sidebar */
.sidebar {
  overflow: auto;
  text-align: left;
  padding: 1rem 1rem;
  color: white;
  background-color: #363636;
  display: flex;
  flex-direction: column;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16.5rem;
    text-align: left;
  }
}

.site-title {
  margin-top: 0px;
}

.sidebar a,
.sidebar a:hover,
.sidebar a:visited {
  text-decoration: none;
  color: white;
}

.sidebar a:hover {
  color: rgb(141, 141, 141);
}

.sidebar ul {
  margin: 0px;
  padding: 0px;
}

.sidebar ul li {
  list-style: none;
  padding-left: 2em;
}

nav {
  line-height: 125%;
  margin: 1em 0 1em 0;
}

.sidebar .navigation {
  flex: 1 0 auto;
}

.sidebar .version {
  font-size: 80%;
  text-align: right;
  padding: 2px;
}

.sidebar .external-title {
  margin-top: 2em;
  text-align: center;
  font-size: 120%;
}

.sidebar nav.external {
  font-size: 80%;
}

/* Blocks */
.block {
  margin: 1em 0em 1em 0em;
  padding: 0 5px 5px 5px;
  border-top: 34px solid;
  position: relative;
  overflow-wrap: break-word;
}

.block:before {
  position: absolute;
  top: -32px;
  left: 10px;
  color: white;
}

.block.tip {
  background: #e8f7e6;
  border-top-color: #84c578;
}

.block.block.tip:before {
  content: "Tip";
}

.block.note {
  background: #e6f3fb;
  border-top-color: #6bb1e0;
}

.block.block.note:before {
  content: "Note";
}

.block.info {
  background: #fefaf5;
  border-top-color: #f1b37e;
}

.block.block.info:before {
  content: "Info";
}

.block.warn {
  background: #fbeded;
  border-top-color: #d58181;
}

.block.block.warn:before {
  content: "Warning";
}

/* Section of the page */
section.page {
  margin-bottom: 3em;
}

section.page h1 {
  border-left: 3px solid #363636;
  padding-left: 0.5em;
  margin-bottom: 0;
}

section.page .content {
  line-height: 125%;
  margin-left: 0.5em;
}

section.page h1 a,
section.page h1 a:hover,
section.page h1 a:visited {
  text-decoration: none;
  color: #363636;
  border-bottom:0;
}

section.page a,
section.page a:hover,
section.page a:visited {
  color: #363636;
}

section div pre {
  line-height: 119%;
  overflow: auto;
}

section code {
  font-family: 'Inconsolata', monospace;
}

section img {
  max-width: 100%;
}

section a {
  text-decoration: unset;
  border-bottom: 1px solid #bbbbbb;
}

section a:hover {
  text-decoration: unset;
  border-bottom: 1px solid black;
}

section ol {
  line-height: 170%;
}